img {
  width: 100%
}

.column {
  width: 25%;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.headers {
  font-family: sans-serif;
}

.column h4 {
  font-family: sans-serif;
}

@media screen and (max-width: 600px) {
  .column {
    width: auto;
  }
  img {
    width: auto;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-color: yellow;
    font-weight: bold
}
