.column {
  width: 300px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.column img {
  object-fit: none;
  object-position: center;
  width: 300px;
  height: 300px;
}

.headers {
  font-family: sans-serif;
}

.column h4 {
  font-family: sans-serif;
}
